GROQ_API_KEY = ""
SERPER_API_KEY = ""
TAVILY_API_KEY = ""
MONGODB_COLLECTION = ""
ATLAS_VECTOR_SEARCH_INDEX_NAME = ""
MONGODB_CONNECTION_STRING = ""
DB_NAME = ""
RAG_SIMILARITY_THRESHOLD = "0.75"
GROQ_MODEL = "llama3-8b-8192"
GROQ_TEMPERATURE = "0.2"
GROQ_MAX_TOKENS = "1024"
MOCK_PIPELINE = "false"